*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 2px;
word-spacing: 2px;
color: #fff;

}
h1{
    color: #ff0;
    text-decoration: dashed;
}
#back{
    font-size: 25px;
}
body{
    background: rgb(130,50,0);
    animation: appear 7s linear ;

}
header p{
    text-align: center;
    font-size: 30px;
    color: yellow;
    text-transform: capitalize;
}
button{
    padding: 5px;
    background-color: #000;
    color: yellow;
    border: 1px solid #00f;
    border-radius: 8px;
}
button:hover{
    background: #00f;
}
body .center{
    text-align: center;
    animation: colour 5s linear infinite;
}
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  text-align: center;

  animation: slide 2s linear infinite;
    
}




/*ANIMATION SECTION */
@keyframes slide{
    50%{
        transform: translateX(-50px);
    }
}

@keyframes colour{
    50%{
        background-color: #ff0;
        border-radius: 5px;
    }
    100%{
        background-color: #00f;
        border-radius: 5px;
    }
}

@keyframes appear{
    0%{scale: 0;
        opacity: 0;
    }
    100%{scale: 1;
        opacity: 1;
    }
}