body{
    text-align: center;
    background: rgb(0,50,0);
    
}


h1{
    color: rgba(250,0,200);
}

h2{
    text-transform: capitalize;
    color: rgba(250,0,200);

}

.login-part{color: #fff;
    font-size: 20px;
}

#line{ border-width: 5px;
    border-color: rgb(0,100,0);
border-radius:5px;
   
}
#back{
    font-size: 25px;
}

.input-field{
    border: solid;
    border-radius: 4px 8px;
    background-color: #660066;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

#login{
    background-color: #00f;
    color: #fff;
    border-radius: 8px;
}

#login:hover{
    font-size: 30px;
    transition: all 2s;
}